// BODY Fondo amarillo
html,
body,
body.body-home,
body.body-main,
html body {
  background: #FFFD00 !important;
  background-color: #FFFD00 !important;
  padding-top: 60px !important;
}

body {
  min-height: 100vh !important;
}


